@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: var(--icon-filter);
}

/* input[type="date"] {
    @apply rounded-lg dark:bg-zinc-800 dark:text-white;
} */

:root {
    --icon-filter: invert(0);
}

.dark {
    --icon-filter: invert(1);
}

.btn-primary {
    @apply cursor-default bg-darkTheme hover:bg-black/80 text-darkTheme dark:bg-white dark:text-theme dark:hover:bg-white/80 py-1.5 rounded-md !important;
}
.btn-primary .fi-btn-icon {
    @apply dark:text-theme me-1 !important;
}

.fi-btn {
    @apply font-medium  !important;
}

.fi-input-wrp {
    @apply ring-zinc-400/50 focus-within:ring-zinc-900 dark:ring-zinc-600 dark:focus-within:ring-zinc-100   !important;
}

.auth-dropdown {
    @apply transition-none flex justify-between duration-0 ring-0 text-start hover:bg-zinc-100 dark:hover:bg-zinc-800 lg:hover:bg-zinc-200 !important;
}

/* .fi-dropdown-panel {
    @apply transition-none w-full max-w-64 dark:ring-zinc-700 ring-zinc-300 !important;
} */

.btnThemeDashboard {
    @apply justify-start transition-none flex sm:py-2 py-2.5 cursor-default duration-0 ring-0 gap-x-3 text-start hover:bg-zinc-100 lg:hover:bg-zinc-200 dark:hover:bg-zinc-800 !important;
}

.fi-dropdown-list-item {
    @apply hover:bg-zinc-200/50 lg:hover:bg-zinc-200 hover:bg-zinc-100 dark:hover:bg-zinc-800 !important;
}

.dropdown-authHeader {
    @apply dark:border-zinc-700 !important;
}

.fi-no-notification {
    @apply dark:ring-zinc-600  ring-zinc-300 !important;
}

.auth-signed-as {
    @apply cursor-default dark:hover:bg-darkCardTheme hover:bg-cardTheme !important;
}

.input-delete-account {
    @apply focus-within:ring-red-500 dark:focus-within:ring-red-500 !important;
}
.fi-ta-cell {
    @apply dark:bg-zinc-900 !important;
}

.fi-ta-header-cell {
    @apply dark:bg-zinc-900 !important;
}

.fi-ta-table {
    @apply dark:divide-zinc-600 !important;
}

.fi-ta-ctn {
    @apply ring-0 !important;
}

.fi-ta-actions-header-cell {
    @apply dark:bg-zinc-900 !important;
}

tbody {
    @apply dark:divide-zinc-600 !important;
}

.fi-ta-ctn {
    @apply dark:divide-zinc-600 !important;
}

.fi-pagination-overview {
    @apply dark:text-darkSecondary !important;
}

.fi-icon-btn {
    @apply cursor-default dark:hover:bg-zinc-800 hover:bg-zinc-200 !important;
}

.sidebar-badge {
    @apply dark:ring-zinc-500 dark:text-white ring-zinc-300 text-black !important;
}

.fi-section {
    @apply dark:bg-zinc-900 ring-zinc-950 dark:ring-zinc-600 !important;
}

.fi-section-content-ctn {
    @apply border-zinc-950 dark:border-zinc-600 !important;
}

.animate-spin {
    @apply dark:text-darkTheme text-theme !important;
}

.fi-tabs-item {
    @apply cursor-default;
}

/* Wizard */
.btn-prev-act {
    @apply cursor-default dark:ring-zinc-500 py-1.5 !important;
}

.fi-fo-wizard {
    @apply dark:bg-zinc-900 dark:ring-zinc-600 !important;
}

.fi-fo-wizard-header {
    @apply dark:border-zinc-600 !important;
}

.fi-fo-wizard-header-step-label {
    @apply dark:text-darkTheme !important;
}

.fi-fo-wizard-header-step-icon-ctn {
    @apply dark:border-zinc-600 dark:bg-zinc-800 !important;
}

.fi-fo-wizard-header-step-indicator {
    @apply dark:text-white !important;
}

.fi-fo-wizard-header-step-separator svg {
    @apply dark:text-zinc-500 !important;
}
/* ---------------------------------------------------------------------------- */

/* Modal */
.fi-modal-window {
    @apply dark:ring-zinc-600 !important;
}
